@{
    ViewData["Title"] = "Lab 1 - Home";
}

<div class="text-center">
    <h1 class="display-4">Laboratorio #1 Arquitectura de Software</h1>
    <b>Elaborado por</b>
    <ul>
        <li>Mauren Ribera</li>
        <li>Angie Castro</li>
        <li>Santiago Zúñiga</li>
    </ul>
</div>
